---
import Layout from "../layouts/Layout.astro"
--- 
<Layout title="About">
    <h1 class="title">About <br/> Bisbee <br/> Tournament</h1>
    <p class="content">Bisbee’s Black & Blue Tournaments have been taking place in the Los Cabos region of the Baja Peninsula in Mexico for over 30 years. The Bisbee’s are currently producing three tournaments – Bisbee’s East Cape Offshore in Buenavista which takes place each July, and the Los Cabos Offshore Charity Tournament and Black & Blue Marlin Tournament which take place every October in Cabo San Lucas.
<br/>
Started in 1981 by Bob Bisbee, the Black & Blue Marlin Tournament has grown from six teams with a purse of $10,000 to more than 150 teams with millions of dollars on the line. In 2006 the Black & Blue had its biggest overall cash payout of $4,165,960. This was, and remains, the largest payout in sportfishing history.
<br/>

In 2000 Bisbee’s expanded to the east side of the Baja California Sur peninsula with the East Cape Offshore Tournament in Buenavista. In addition to marlin, this tournament included dorado and tuna and became so popular that a third event with the same format was started in 2002 – the Los Cabos Offshore Tournament.
<br/>

Over the years each tournament has developed its own personality with the East Cape Offshore being a laid back “Cabo fishing as it used to be” type of event, the Los Cabos which takes place just days before the Black & Blue and nick-named the “Little Bisbee’s”, is a very social event full of comraderie where friends can meet, swap stories and get in a few days of fishing before the “Big Show”.
<br/>
        
        The last tournament in the series, Bisbee’s Black & Blue Marlin Tournament, is hard to describe if you’ve never been there. It’s five days of organized chaos full of hard-core excitement. With the beautiful and lively city of Cabo San Lucas as the backdrop, thousands of people crowd the marina walkways to shop, party and watch huge fish being weighed in at the scales in front of the world-famous Puerto Paraiso Entertainment Plaza. The Black & Blue is a once in a lifetime experience you’ll never forget, whether you take home memories or millions.</p>
</Layout>

<style scoped>


.title{
    font-size: 4rem;
    text-align: center;
}

.content{
    max-width: 80%;
    margin: 2rem auto;
    line-height: 2;
}

@media (width <= 600px) {
  .title{
    font-size: 2.5rem;
  }
}
</style>