---
import Layout from "../layouts/Layout.astro";
import HomeHeroSection from "../components/HomeHeroSection.astro";
import BesbeeEast from "../components/BesbeeEast.astro";
import BisbeeLosCabos from "../components/BesbeeLosCabos.astro"
import BisbeeBW from "../components/BesbeeBW.astro"
import FooterBg from "../components/FooterBg.astro";
---

<Layout title="Bisbee">
  <HomeHeroSection/>
  <main>
    <BesbeeEast/>
    <BisbeeLosCabos/>
    <BisbeeBW/>
  </main>
</Layout>

